<!DOCTYPE html>
<html>

<!--DEFINING THE HEADER TO CONTAIN BOOTSTRAP STYLING-->
<head>
    <meta charset="utf-8">
    <title>Health Data Analyzer</title>
    
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="../static/js/choropleth/choropleth.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Personal stylesheets -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/choroplethStyle.css">

    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
</head>

<!--INDEX PAGE-->
<body>
    <!--NAVIGATION BAR TO BE USED ACROSS ALL PAGES-->
    <nav class="navbar navbar-light">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="index.html"style="color:white">Home</a>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right"></li>
                    <li><a href="/drill" style="color:white">Analysis</a></li>
                    <li><a href="/teampage"style="color:white">Team</a></li>
                    </ul>
            </div>
            </div>
        </nav>

        <div class="hero text-center">
            <h1>Leading Causes of Death</h1>
            <p>Analysis of the top ten causes in the US over time</p>
            <a href="#map" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>

    <!--ROW 1: SUMMARY-->    
    <div class="container">
        <div class="row">
            <div class="col-md-12"  style = "
                background-color: white;
                padding-left: auto;
                padding-top: 10px;
                padding-right: auto;
                padding-bottom: 0px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                margin-bottom: 0px"
            }>
                <h1>What is this?</h1>
                <hr>
                <p style = "text-align: center"> 
                Understand, interact, and explore  population health with CDC and NCHS data<br/>
                </p>
            </div>
        </div>
        <div class="row">     
            <div class="col-md-4">
                <!-- Source JSON --> 
                <a class="ic" href = "https://data.cdc.gov/api/views/bi63-dtpu/rows.json?accessType=DOWNLOAD">
                <i class="fas fa-heartbeat fa-10x" style="display:inline-block; text-align:center"> </i>
                </a>
                <br/><p style = "text-align: center">See the data</p>
            </div>
            <div class="col-md-4">
                    <a class="ic" href = "/drill">
                        <!-- <i class="fa fa-heartbeat fa-large fa-fw" > </i> -->
                    <i class="fas fa-chart-bar fa-10x" style="display:inline-block; text-align:center"></i>
                    </a>
                    <br/><p style = "text-align: center">Drill down further</p>
                </div>   
            <div class="col-md-4">
                    <a class="ic" href = "#">
                        <!-- <i class="fa fa-heartbeat fa-large fa-fw" > </i> -->
                    <i class="fas fa-user-md fa-10x" style="display:inline-block; text-align:center"></i>
                    </a>
                    <br/><p style = "text-align: center">Get more info</p>
                </div>
        </div>
            <div class="row"> 
                <div class="col-md-12" style = "
                background-color: white;
                padding-left: auto;
                padding-top: 0px;
                padding-right: auto;
                padding-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0px;
                margin-bottom: 20px">
                </div>
            </div>
    </div>

    <!-- ROW 2: Choropleth Object -->
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>What does this data tell me?</h1>
                    <hr>
                    <p style = "text-align: center"> The story behind key findings in the data <strong>div id="map"</strong> here</p>
                    <div id="map"></div>
                </div>
            </div>
        </div>

    <!--ROW 3: WORKFLOW-->  
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>How can I learn more?</h1>
                <hr>
                <a href = "https://catalog.data.gov/dataset/age-adjusted-death-rates-for-the-top-10-leading-causes-of-death-united-states-2013"><img class="img-responsive shadow float_text_left" src = "../static/images/dhhsseal.png"></a>
                <p style = "text-align: center"> <strong>Understand the data further.</strong></p>
                <p>
                Data is provided by the Centers for Disease Control's (CDC) and National Center for Health Statistics (NCHS), and it
                presents various information about the age-adjusted death rates for the ten leading causes of death in the United States 
                beginning in 1999. Data are based on information from all resident death certificates filed in the 50 states 
                and the District of Columbia using demographic and medical characteristics.
                Causes of death are classified by the International Classification of Diseases, Tenth Revision (ICD–10) and  based on the underlying cause. 
                For more information, <a href="https://catalog.data.gov/dataset/age-adjusted-death-rates-for-the-top-10-leading-causes-of-death-united-states-2013">visit NCHS</a>.
                </p>
            </div>
        </div>
    </div>
    
<!--FOOTER TO BE USED ACROSS ALL PAGES-->
<footer class="footer">
    <!-- Footer Elements -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <div class="container">
        <br/>
        <div class="footer-copyright text-center py-3"><font color="white">© 2018 Copyright: Jeffrey Box, John Commander, John Giglio, Bill Magill, & Luke Williams</font><br/><br/>
            <div class="mb-5 flex-center">
                <!-- Notes: fa-2x doubles the icon size, and 'fa-fw' adds  spacing after the icon-->
                <!-- Github -->
                <a class="ic" href = "https://github.com/Jccommander/Project2-JJJB">
                    <i class="fab fa-github fa-3x" style="color:white"></i></a>
                <!-- 
                <a class="ic" href = "https://bootcamp.pe.gatech.edu/data/lp1/?s=Google-Unbranded&dki=Data%20Science&utm_cost=0&trkid=V3ADW427502_53882828873_aud-489106722912:kwd-304086169812__253238998067_g_c__&mkwid=TCVWe2l0_dc&pkw=%2Bdata%20%2Bscientist%20%2Bsalary&pcrid=253238998067&pmt=b&utm_source=google&utm_medium=cpc&utm_campaign=%5BS%5D+Data+-+Data+Sciencet+-+&utm_term=%2Bdata%20%2Bscientist%20%2Bsalary&utm_content=253238998067&s=google&k=%2Bdata%20%2Bscientist%20%2Bsalary&gclid=CjwKCAjwo_HdBRBjEiwAiPPXpI5Hd_IC0S2YVkhnL3viYTKye8ogabLdtyRBCvIY-Nx1_kLWvOD9whoC8LsQAvD_BwE">
                <i class="fa fa-certificate fa-2x fa-fw" style="color:white"> </i>
                </a>GT --> 
            </div>
            <br/>
        </div>
    </div>
</footer>
<!-- THE FOLLOWING IS REQUIRED FOR BOOTSTRAP INTERACTIVE COMPONENTS -EX- DROPDOWNS. RECOMMENDED BOTTOM PLACEMENT FOR FASTER LOAD TIME-->

    <!-- jQuery Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

    <!-- Script loading segment, do NOT rearrange scripts, they are lined up to run in a specific order! -->
    <script type="text/javascript" src="../static/js/choropleth/mapbox_api.js"></script>
    <script type="text/javascript" src="../static/js/choropleth/usStates.js"></script>
    <script type="text/javascript" src="../static/js/choropleth/choroplethGenerator.js"></script>
    <script type="text/javascript" src="../static/js/choropleth/statesChoropleth.js"></script>
</html>
