<!DOCTYPE html>
<html>

<!--DEFINING THE HEADER TO CONTAIN BOOTSTRAP STYLING-->
<head>
    <meta charset="utf-8">
    <title>Health Data Analyzer</title>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="../static/js/choropleth/choropleth.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- My personal stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/choroplethStyle.css">

    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
</head>

<!--INDEX PAGE-->
<body>
    <!--NAVIGATION BAR TO BE USED ACROSS ALL PAGES-->
    <nav class="navbar navbar-light">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="index.html"style="color:white">Home</a>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right"></li>
                    <li><a href="drill.html" style="color:white">Analysis</a></li>
                    <li><a href="teampage.html"style="color:white">Team</a></li>
                    </ul>
            </div>
            </div>
        </nav>

        <div class="hero text-center">
            <h1>Healthcare Data Analyzer</h1>
            <p>Leading Causes of Death in the US</p>
            <a href="#map" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated">
                </i>
            </a>
        </div>

    <!--ROW 1: SUMMARY-->    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>This app allows you to compare the leading causes of death in each state over time
                </h1>
                <hr>
                <a href = "#"><img class="img-responsive shadow float_text_left" src = "#"></a>
                <p> 
                    Placeholder
                </p>
            </div>
        </div>
    </div>

    <!-- ROW 2: Choropleth Object -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <p>Choropleth goes here</p>
                <div id="map"></div>
            </div>
        </div>

    <!--ROW 3: WORKFLOW-->  
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Data for this app was sourced from the Centers for Disease Control's (CDC) National Center for Health Statistics (NCHS) 
                </h4>
                <hr>
                <div class ="imgbox">
                    <img class = "float_text_left " src = "../static/images/CDC.png">
                </div><br/>
            </div>
        </div>
    </div>
    
<!--FOOTER TO BE USED ACROSS ALL PAGES-->
<footer class="footer">
        <!--FONT AWESOME REF-->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
            <!-- Footer Elements -->
            <div class="container">
                <br/>
                    <div class="footer-copyright text-center py-3"><font color="white">© 2018 Copyright: Jeffrey Box, John Commander, John Giglio, Bill McGill, Luke Williams</font><br/><br/>
                        <div class="mb-5 flex-center">
                            <!-- Notes: fa-2x doubles the icon size, and 'fa-fw' adds  spacing after the icon-->
                            <!-- Github -->
                            <a class="gi-ic" href = "https://github.com/Jccommander/Project2-JJJB">
                            <i class="fa fa-github fa-2x fa-fw" style="color:white"></i>
                            </a>
                            <!-- GT --> 
                            <a class="li-ic" href = "https://bootcamp.pe.gatech.edu/data/lp1/?s=Google-Unbranded&dki=Data%20Science&utm_cost=0&trkid=V3ADW427502_53882828873_aud-489106722912:kwd-304086169812__253238998067_g_c__&mkwid=TCVWe2l0_dc&pkw=%2Bdata%20%2Bscientist%20%2Bsalary&pcrid=253238998067&pmt=b&utm_source=google&utm_medium=cpc&utm_campaign=%5BS%5D+Data+-+Data+Sciencet+-+&utm_term=%2Bdata%20%2Bscientist%20%2Bsalary&utm_content=253238998067&s=google&k=%2Bdata%20%2Bscientist%20%2Bsalary&gclid=CjwKCAjwo_HdBRBjEiwAiPPXpI5Hd_IC0S2YVkhnL3viYTKye8ogabLdtyRBCvIY-Nx1_kLWvOD9whoC8LsQAvD_BwE">
                            <i class="fa fa-certificate fa-2x fa-fw" style="color:white"> </i>
                            </a>
                            <!-- CDC --> 
                            <a class="ic" href = "https://catalog.data.gov/dataset/age-adjusted-death-rates-for-the-top-10-leading-causes-of-death-united-states-2013">
                            <i class="fa fa-heartbeat fa-2x fa-fw" style="color:white"> </i>
                            </a>
                            <!-- CDC --> 
                            <a class="ic" href = "https://data.cdc.gov/api/views/bi63-dtpu/rows.json?accessType=DOWNLOAD">
                            <i class="fa fa-file fa-2x fa-fw" style="color:white"> </i>
                            </a>
                        </div>
                    <br/>
                </div>
            </div>
    </footer>
<!-- THE FOLLOWING IS REQUIRED FOR BOOTSTRAP INTERACTIVE COMPONENTS -EX- DROPDOWNS. RECOMMENDED BOTTOM PLACEMENT FOR FASTER LOAD TIME-->

    <!-- jQuery Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

    <!-- Script loading segment, do NOT rearrange scripts, they are lined up to run in a specific order! -->
    <script type="text/javascript" src="../static/js/choropleth/mapbox_api.js"></script>
    <script type="text/javascript" src="../static/js/choropleth/usStates.js"></script>
    <script type="text/javascript" src="../static/js/choropleth/choroplethGenerator.js"></script>
    <script type="text/javascript" src="../static/js/choropleth/statesChoropleth.js"></script>
</html>
